!!! 5
html(lang="en")
 head
     script(src="http://code.jquery.com/jquery-1.6.1.min.js")
     script(src="/javascripts/control.js")
     script(src="/socket.io/socket.io.js")
     script(type="text/javascript")
       var room_id = "#{room_id}";
       var user_name = "#{user_name}";
       var phone_secret = "#{phone_secret}";
       var user_action = "#{user_action}";
       var port = "#{port}";
 body
