!!! 5
html(lang="en")
  head
    style()
      body { margin:0; padding:0; }
      #game_view { position:absolute; }
      #game_view .background { position:relative; z-index:0; }
      #game_view .foreground { position:relative; z-index:1; }
      #game_view .at_origin { position:absolute; left:189px; top:86px; }
      #game_view .page_chrome { position:absolute; left:0; top:0px; }
      #game_view .walls { position:absolute; left:0; top:40px; }
      #game_view .disco_wall { position:relative; }
      #game_view .disco_wall .panel { background:transparent url('/images/disco_panel_grade.png') no-repeat scroll 0px 0px; }
      #game_view .score div { top:500px; width:80px; color:#fff; font-family:'arial narrow', 'sans-serif'; font-size:92px; font-weight:bold; position:absolute; }
      #game_view .score .player_1 { left:92px; text-align:right; }
      #game_view .score .player_2 { left:1021px; text-align:left; }
    script(type="text/javascript")
      var room_id = "#{room_id}";
      var user_name = "#{user_name}";
      var phone_secret = "#{phone_secret}";
      var user_action = "#{user_action}";
      var port = "#{port}";
    script(src="http://code.jquery.com/jquery-1.6.2.min.js")
    script(src="/javascripts/exports.js")
    script(src="/javascripts/game_def.js")
    script(src="/javascripts/game_view.js")
    script(src="/socket.io/socket.io.js")
    script(src="/javascripts/observe.js")
  body
    div(id="game_view")
      div(class="foreground at_origin")
      div(class="background")
        div(class="disco_wall at_origin")
        img(class="page_chrome" src="/images/background.png")
        img(class="walls" src="/images/walls.png")
        div(class="score")
          div(class="player_1")
            00
          div(class="player_2")
            00

